body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 28px;    
}

button {
    border: 1px solid black;
    background-color: white;
    padding: 8px;
    font: inherit;
    cursor: pointer;
    outline: none;
}

.intLink {
    cursor: pointer;
    color: #0000ff;
}

ul {
    width: 70%;
    margin: auto;
}

form {
    width: 100%;
}